.card-front {
  position: relative;
}

.card-front-number {
  position: absolute;
  bottom: 50px;
  left: 50px;
  color: white;
  letter-spacing: 3px;
  font-size: 25px;
  z-index: 2;
}

.card-front-name {
  position: absolute;
  text-transform: uppercase;
  bottom: 5px;
  left: 50px;
  color: white;
  font-size: 15px;
  z-index: 2;
}

.card-front-date {
  position: absolute;
  bottom: 5px;
  right: 50px;
  color: white;
  font-size: 15px;
  z-index: 2;
}
